<div class="row footer" id="redes">

    <div class="col-12">
<br>
        <h1 class="titulo">Mis redes</h1>

        <div class="row">
            <div class="col-12 col-sm-6">

                <p>
                    <i class="fa fa-facebook"></i>
                    Facebook
                </p>
                <p>
                    <i class="fa fa-whatsapp"></i>
                    whatsapp
                </p>
                <p>
                    <i class="fa fa-twitter"></i>
                    Twitter
                </p>
                <p>
                    <i class="fa fa-instagram"></i>
                    Instagram
                </p>
                <p>
                    <i class="fa fa-linkedin"></i>
                    Linkedin
                </p>



            </div>


        </div>
    </div>

    <br>
    <br>
</div>