.footer{
    background:  #555;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 100px;
}

.titulo{
    text-align: center;
}

.red{
    text-align: center;
}

.oculto{
}
