<div class="row footer" id="redes">

    <div class="col-12">
        <br>
        <br>
        <h1 class="titulo">Estemos conectados</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-sm-3 ml-sm-auto red">

                <p>
                    <a href="https://www.facebook.com/carlos.medinacarranza" target="_blank">
                        <i class="fa fa-facebook"></i>
                        Facebook
                    </a>
                </p>
                <p>
                    <a href="https://twitter.com/Carlos_angus_w3" target="_blank">
                        <i class="fa fa-twitter"></i>
                        Twitter
                    </a>
                </p>
                <p>
                    <a href="intent://send/+51949210851#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
                        <i class="fa fa-whatsapp"></i>
                        whatsapp
                        <br>
                        <span class="oculto animated fadeOut">+51 949210851</span>
                    </a>
                </p>

            </div>
            <div class="col-12 col-sm-3 mr-sm-auto red">

                <p>
                    <a href="https://www.instagram.com/carlos_d_mc" target="_blank">
                        <i class="fa fa-instagram"></i>
                        Instagram
                    </a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/carlos-medina-carranza-a1a78557/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                        Linkedin
                    </a>
                </p>
                <p>
                    <a href="mailto:c.medina.carranza@gmail.com">
                        <i class="fa fa-envelope"></i>
                        Correo
                        <br>
                        <span class="oculto animated fadeOut">c.medina.carranza@gmail.com</span>
                    </a>
                </p>
            </div>


        </div>
    </div>

</div>