@media (min-width: 576px) { 
  .aboutme {
    padding: 20px 40px;
  }
}

.titulo {
  text-align: center;
}

p {
	margin-bottom: 5px;
}

.nivelexperto2 {
  color: white;
  font-weight: bold;
  width: 100%
}

.nivelexperto1 {
  color: white;
  font-weight: bold;
  width: 90%
}

.nivelavanzado3 {
  color: white;
  font-weight: bold;
  width: 80%
}

.nivelavanzado2 {
  color: white;
  font-weight: bold;
  width: 70%
}

.nivelavanzado1 {
  color: white;
  font-weight: bold;
  width: 60%
}

.nivelintermedio2 {
  color: white;
  font-weight: bold;
  width: 50%
}

.nivelintermedio1 {
  color: white;
  font-weight: bold;
  width: 40%
}

.nivelbasico1 {
  color: white;
  font-weight: bold;
  width: 30%
}

.aboutme .cuadro{
  margin-bottom: 50px;
}

.aboutme h4{
  margin-bottom: 20px;
}