<div class="aboutme">
  <br>
  <br>
  <br>
  <div class="titulo">
    <h1 id="aboutme">
	Sobre mi
	</h1>
  <br>
  <br>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h4>Quien soy?</h4>
      <p>
        Desarrollador full stack, eterno aprendiz entusiasta y apasinado por la tecnologia de la informacion, todos los caminos conducen a roma pero yo prefiero tomar el mejor atajo que me proporcionen las nuevas tecnologias y metodologias para el desarrollo de soluciones de TI.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <h4>Habilidades:</h4>
      <div *ngFor="let skill of skills">
        <p><strong>{{skill.habilidad}}</strong> {{skill.ejemplos}}</p>
        <div class="progress">
          <div class="progress-bar bg-dark {{skill.porcentaje}}" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{skill.nivel}}</div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
