<div class="aboutme">
  <br>
  <br>
  <br>
  <div class="titulo">
    <h1 id="aboutme">
	Sobre mi
	</h1>
  <br>
  <br>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 cuadro">
      <h4>Quien soy?</h4>
      <p>
        Titulado en la carrera de Ingeniería de Sistemas formado para trabajar en equipo y bajo presión, con iniciativa, responsable y comprometido con las metas que proponga la empresa.
      </p>
      <p>
        Me gusta La natacion, guitarra y el desarrolo de software.
      </p>
      <br>
      <a href="assets/cv.pdf" download role="button" class="btn btn-outline-dark">Desarga mi CV</a>
    </div>
    <div class="col-12 col-md-6 cuadro">
      <h4>Habilidades:</h4>
      <div *ngFor="let skill of skills">
        <p><strong>{{skill.habilidad}}</strong> {{skill.ejemplos}}</p>
        <div class="progress">
          <div class="progress-bar bg-dark {{skill.porcentaje}}" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{skill.nivel}}</div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
