
<div class="experience">
  <br>
  <br>
  <div class="titulo">
    <h1 id="experience">
      Experiencia
    </h1>
  </div>
  <br>
  <br>
  <div>

    <div class="row">
      <div class="experiencia col-12 col-md-6">
        <div>
          <h4>IBM</h4>
          <h5>Desarrollador WCM Full Stack</h5>
          <p>
            Coaching tecnico en el equipo de desarrollo en la propuesta y ejecucion de soluciones de programacion web compatibles con
            la herramienta de gestion de contenidos WCM y manejo de la misma, utilizando metodologias agiles, para los proyectos:
            Portal Publico Claro y ViaBCP.
          </p>
          <div class="fecha">
            Julio 2016 - Hoy
          </div>
        </div>
      </div>
      <div class="experiencia col-12 col-md-6">
        <div>
          <h4>Electrodata</h4>
          <h5>Analista Desarrollador</h5>
          <p>
            Encargado del análisis y desarrollo de nuevos productos de software que complementen o añadan valor a las soluciones de TI
            que se ofertan, utilizando software libre (linux, php-laravel, angularjs, mysql), metodologías ágiles (Sscrum)
            y buenas practicas en versionamiento de código fuente (GIT).
          </p>
          <div class="fecha">
            Octubre 2015 - Junio 2016
          </div>
        </div>
      </div>
      <div class="experiencia col-12 col-md-6">
        <div>
          <h4>Everis</h4>
          <h5>Analista Desarrollador</h5>
          <p>
            Realizar el análisis y construcción de soluciones de software alineadas a los estándares tecnológicos del cliente BCP(.NET, SQL Server, Java, IBM HATS, IBM WCM, IBM MessageBroker), ademas de realizar seguimiento del soporte general de las distintas aplicaciones a cargo del aerea de desarrollo de software (USERIT).
          </p>
          <p>
            Encargado de liderar pilotos de nuevas tecnologías y metodologías para el cliente BCP, piloto cloud computing utilizando
            google app engine + Java + spring + metodología PAR y piloto metodologías agiles y cloud computing utilizando
            ruby on rails + git + github + metodología Scrum.
          </p>
          <div class="fecha">
            Agosto 2013 - Octubre 2015
          </div>
        </div>
      </div>
      <div class="experiencia col-12 col-md-6">
        <div>
          <h4>Danper Trujillo SAC</h4>
          <h5>Analista Desarrollador</h5>
          <p>
            Desarrollo de aplicaciones de escritorio para las áreas de Aseguramiento de la calidad, Producción, Almacén de productos
            terminados, Gestión del capital humano y Logística, usando visual Studio 2010 como IDE (lenguajes c# y Basic)
            y SQL Server 2008 como motor de base datos.
          </p>
          <p>
            Encargado de actualizaciones y mantenimiento sobre el sitio web de Danper Trujillo y apoyo en la implementación, mantenimiento e inducción a usuarios sobre un portal corporativo usando SharePoint Fundation.
          </p>
          <p>
            Participación en el proyecto de Inteligencia de Negocio, Balanced Scorecard – BSC, para el manejo y consulta de indicadores
            de las distintas áreas de la empresa DANPER Trujillo.
          </p>
          <div class="fecha">
            Marzo 2011 - Setiembre 2012
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>
</div>